@import '../../variables.scss';
@import '../../mixins.scss';

.hall-form{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  &__info {
    width: 300px;
    background-color: $transparent;
    height: 200px;
    color: $black;
    font-size: 18px;
    padding-top: 5px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 20px;
      height: 20px;
    }

    &::-webkit-scrollbar-thumb {
      @include scroll();
    }
  }

  &__add-row-button {
    @include add_btn();
  }

  &__label {
    @include label();
    font-size: 20px;
  }

  &__add-icon {
    @include icon();

    &:hover {
      @include add_icon_hover();
    }
  }

  &__row-list {
    overflow-y: auto;
    background-color: $transparent;

    &::-webkit-scrollbar {
      width: 20px;
      height: 20px;
    }

    &::-webkit-scrollbar-thumb {
      @include scroll();
    }
  }

  .row {
    width: 95%;
    padding: 8px 2px;
    border: 1px solid $blackBorder;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &:not(:first-child) {
      border-top: none;
    }

    &__info {
      display: flex;
      text-align: start;
    }

    &__icon {
      @include icon();

      &:hover {
        color: $light-orange;
      }

      &_confirm {
        color: $done;

        &:hover {
          color: $doneHover;
        }
      }
    }
  }

  &__add-button {
    @include add();

    &:hover {
      background-color: $light-orange;
      color: $white;
    }
  }
}
