@import '../../variables.scss';

.input-container {
  width: 250px;
  height: 35px;
  background-color: transparent;
  border: 2px solid $light-orange;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  
  &__input {
    background-color: transparent;
    border: none;
    width: 200px;
    height: 35px;
    outline: none;
    font-size: 18px;
    padding-left: 15px;
  }

  &__clear{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }
}