@import '../../variables.scss';
@import '../../mixins.scss';

.movie {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  
  &__datepicker{
    appearance: none;
    width: 250px;
    height: 35px;
    border: 2px solid $light-orange;
    margin-bottom: 20px;
    font-size: 18px;
    padding-left: 15px;

    &::-webkit-inner-spin-button { 
      display: none;
    }
  }

  &_error {
    @include errorLabel();
  }

  &__square {
    width: 250px;
    height: 35px;
    background-color: $transparent;
    border: 2px solid $light-orange;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  &__add-hall {
    @include addContainer();
  }

  &__add-icon {
    @include addIcon();

    &:hover {
      @include addIconHover();
    }
  }

  &__close{
    background-color: $transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }

  &__add-movie {
    @include addButton();

    &:hover {
      background-color: $light-orange;
      color: $white;
    }
  }

  &__description {
    overflow-y: auto;
    margin-top: 10px;
    height: 200px;
    width: 400px;
    border: 2px solid $light-orange;
    background-color: $transparent;
    outline: none;
    font-size: 18px;
    resize: none;
  }
}
