@import '../../variables.scss';
@import '../../mixins.scss';

.textarea-container {
  font-size: 18px;
  display: flex;
  align-items: flex-start;
  padding: 10px 0px;
  padding-bottom: 2px;
  flex-direction: column;

  &__error {
    @include errorLabel();
  }

  &__textarea {
    overflow-y: auto;
    margin-top: 10px;
    height: 200px;
    width: 400px;
    border: 2px solid $light-orange;
    background-color: $transparent;
    outline: none;
    font-size: 18px;
    resize: none;
  }
}
