@import '../../variables.scss';
@import '../../mixins.scss';

.cinemas {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  &_link {
    text-decoration: none;
    color: inherit;
  }

  &__add-cinema {
    @include add_btn();
  }

  &__add-icon {
    @include add_icon();

    &:hover {
      @include add_icon_hover();
    }
  }

  &__label {
    user-select: none;
    @include label();
    font-size: 22px;
  }

  &__list {
    overflow-y: auto;
    margin-top: 30px;
    height: 70%;
    width: 95%;
    background-color: $transparent;

    &::-webkit-scrollbar {
      width: 20px;
      height: 20px;
    }

    &::-webkit-scrollbar-thumb {
      @include scroll();
     }
  }

  .cinema {
    width: 95%;
    color: inherit;
    text-decoration: none;
    padding: 8px 2px;
    border: 1px solid $blackBorder;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:not(:first-child) {
      border-top: none;
    }
  
    &__item-link {
      text-decoration: none;
      color: inherit;
      width: 80%;
    }

    &__icon {
      @include main_icon();

      &_delete {
        cursor: pointer;
      }
    }
  }
}
