@import 'node_modules/reset-css/sass/_reset.scss'; 
 
html, body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Nunito','Helvetica Neue','Helvetica','Arial','sans-serif';
  box-sizing: border-box;
 }

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App {
  text-align: center;
  padding: 5% 20%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  background: linear-gradient(15deg,rgb(233, 177, 201),rgb(236, 219, 188) 66%,rgb(203, 231, 247));
}

.container {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  border-left: 1px solid rgb(235, 205, 205);
  background-color: rgb(255, 255, 255);
}
