$light-orange: #e7ce98;
$orange: #e0bf76;
$white: #ffffff;
$black: #000000;
$transparent: transparent;
$greyScroll: #ffffff40;
$blackScroll: #00000040;
$yellowScroll: #f0e294; 
$pinkScroll: #f3a7c3;
$blackBorder: #00000020;